.header {
    display: flex;
    align-items: center;
    height: 90px;;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo {
    max-height: 55px;
}

.tittle{
    padding: 0px 40px;
}
a{
    text-decoration: none;
    color: #111111;

}
.logout{
    float: right;
   
    margin-left: 64%;
}