<div class="main-div">
    <mat-card class="box">
        <br>
        <img class="link" class="concert" src="assets/img/logo.png">
        <br>
        <br>
        <mat-card-title class="title">
            Avaliação Desenvolvimento - Phelipe Antunes
        </mat-card-title>
        <br>
        <a class="link" href="https://github.com/phelipeantunes">
            <img class="logo" src="assets/img/logo_github.png" alt="logo">
         
            <a class="link" href="https://www.linkedin.com/in/phelipeoctavio/">
                <img class="logo" src="assets/img/logo_linkedin.png" alt="logo"> 
                
            </a>
        </a>
       
        
    </mat-card>
</div>