<mat-card>
    <mat-card-title>
        Atualizar Pessoa
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="person.name" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <input type="email" matInput placeholder="E-mail" [(ngModel)]="person.email" name="email" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data de nascimento" type="date" [(ngModel)]="person.date_birth"
                name="date_birth" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Estado cívil</mat-label>
            <mat-select [(ngModel)]="person.marital_status" name="marital_status">
                <mat-option>None</mat-option>
                <mat-option value="Solteiro">Solteiro</mat-option>
                <mat-option value="Casado">Casado</mat-option>
                <mat-option value="Separado">Separado</mat-option>
                <mat-option value="Divorciado">Divorciado</mat-option>
                <mat-option value="Viúvo">Viúvo</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Número de telefone" type="number" [(ngModel)]="person.telephone"
            name="telephone">
        </mat-form-field>
        <section>
            <mat-checkbox [(ngModel)]="person.wpp" name="wpp">WhatsApp</mat-checkbox>
        </section>
        <mat-radio-group [(ngModel)]="person.genre" name="genre">
            <mat-radio-button value="Maculino">Maculino</mat-radio-button>
            <mat-radio-button value="Feminino">Feminino</mat-radio-button>
        </mat-radio-group>
    </form>
    <button mat-raised-button (click)="updatePerson()" color="primary">
        Atualizar
    </button>
    <button mat-raised-button (click)="back()">
        Voltar
    </button>
</mat-card>