/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pop-up-ok{
    background: #189214;
    color: #ffffff;
}
.pop-up-nok{
    background: #ff0000;
    color: #ffffff;
}
